<% provide(:title, 'Add New Space') %>
<h1>New Space</h1>
<h2>
  入力漏れ厳禁！
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@space) do |f| %>
      <%= render 'shared/error_space_messages' %>

      <%= f.label :space_name %>
      <%= f.text_field :space_name, class: 'form-control' %>

      <%= f.label :ward_id %>
      <%= f.text_field :ward_id, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.submit "Create New Space", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>