<% provide(:title,"Space Detail") %>
        <body>
            <h1>Space</h1>
            <div class="container">
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>space_name</th>
                        <th>ward_id</th>
                        <th>price</th>
                    </tr>

                    <tr>
                        <td><%= @space.space_name %> </td>
                        <td><%= @space.ward_id %> </td>
                        <td><%= @space.price %> </td>
                        <td>
                        <% if current_user.admin? %>
                        | <%= link_to  "edit" , edit_space_path(@space.id)  %>
                        | <%= link_to "delete", @space, method: :delete,  data: { confirm: "You sure?" } %>
                        </td>
                        <% end%>
                    </tr>
                </table>
            </div>

            <br>
            <%= form_for @reservation do |f| %>
                <%= f.hidden_field :space_id, value: @space.id %>
                <%= render 'shared/error_rsv_messages' %>
                <div class="container">
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <%= f.text_field :start_date, :class => 'form-control', :placeholder => "借りたい日"%>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <%= f.text_field :end_date, :class => 'form-control', :placeholder => "返す日"%>
                                <%= f.hidden_field :user_id, value: current_user.id %>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                 <%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>
                <% end %>
        </body>
    </aside>
