<% provide(:title,"User List") %>
<div class="row">
  <aside class="col-md-4">
    <body>
        <div class="container">

        <h3>User Search</h3>
        <%= form_tag(userlist_path, :method => 'get' ) do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :title => nil %>
        <% end %>

        <% @user = User.new unless @user %>
        <%= will_paginate @user %>
        <table border="1" style="border-collapse: collapse">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
            <%= render @user %>
        </table>
        <%= will_paginate @user %>
        </div>
    </body>
  </aside>
</div>