<% provide(:title,"Reservation List") %>
<div class="row">
  <aside class="col-md-4">
    <body>
        <div class="container">

        <h3>Reservation ID Search</h3>
        <%= form_tag(index_path, :method => 'get' ) do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :title => nil %>
        <% end %>

        <% @reservation = Reservation.new unless @reservation %>
        <%= will_paginate @reservation %>
        <table border="1" style="border-collapse: collapse">
        <% if current_user.admin? %>
          <tr>
              <th>id</th>
              <th>user_id</th>
              <th>space_name</th>
          </tr>
              <%= render @reservation %>
        <% else %>
          <tr>
              <th>reservation_id</th>
              <th>space_name</th>
              </tr>
               <%= render @reservation %>
        <% end %>
        </table>
        <%= will_paginate @reservation %>
        </div>
    </body>
  </aside>
</div>